<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FLL Hydro Dynamics Scorer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68AB10B81F5F67ED0001F384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68AB10D11F5F67ED0001F384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68AB10DC1F5F67ED0001F384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
